:root {
  --bordes-producto: #707070;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* VIEWPORT */
#viewport {
  width: 90%;
  height: 100vh;
  margin: 20px auto;
}
nav {
  margin: 25px auto;
  text-align: center;
}
nav img {
  width: 150px;
}
.viewport {
  top: 10%;
  position: relative;
  display: flex;
  margin: 100px auto;
  max-width: 1100px;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}
.viewport img {
  width: 250px;
  flex-basis: 30%;
}
.viewport h2 {
  flex-basis: 65%;
  text-align: center;
  font-size: 1.7em;
  line-height: 1.4;
  /* border: 1px solid blue; */
}
.discover-more {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -75px;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.5s;
}
.discover-more:hover {
  color: #0483e3;
}

/* MAIN */
section {
  margin: 100px auto;
  width: 90%;
  /* height: 600px; */
}
section h2 {
  font-size: 1.7em;
  font-weight: 800;
  text-align: center;
  margin: 80px auto;
  color: #0483e3;
}
.filter {
  /* border: 1px solid red; */
  margin-bottom: 50px;
}
.filter p {
  font-weight: bold;
  text-decoration: underline;
  display: inline;
  margin: 20px 50px;
  cursor: pointer;
  transition: all 0.3s;
}
.filter p:hover {
  color: #0483e3;
}
.products {
  margin: 80px auto;
  max-width: 1000px;
  /* border: 1px solid red; */
  text-align: center;
}
.product {
  width: 230px;
  display: inline-block;
  margin: 20px;
  text-align: left;
  /* border: 1px solid blue; */
}
.product p {
  font-weight: 500;
  font-size: 0.9em;
  margin-left: 5px;
}
.product h5 {
  font-size: 1em;
  margin: 18px 0 0 5px;
}
.product span {
  display: block;
  /* position: static; */
  /* position: relative; */
  margin: 5px auto;
  width: 220px;
  height: 220px;
  border: 2px solid var(--bordes-producto);
  border-radius: 15px;
  box-shadow: 3px 3px 8px #bbb;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: border 0.3s;
  /* transition: border 0.3s, width 0.5s, height 0.5s; */
}
.bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(100, 100, 100, 0.5);
}
.product .product-open {
  width: 520px;
  height: 520px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -260px;
  margin-top: -260px;
  z-index: 1000;
  box-shadow: 0 0 0 transparent;
  transition: all 0.5s;
}
.product span:hover {
  /* border-color: #1ab77c; */
  border-color: #0483e3;
  box-shadow: 0 0 0 transparent;
}
#p01 {
  background-image: url("../images/products/01.jpg");
}
#p02 {
  background-image: url("../images/products/02.jpg");
}
#p03 {
  background-image: url("../images/products/03.jpg");
}
#p04 {
  background-image: url("../images/products/04.jpg");
}
#p05 {
  background-image: url("../images/products/05.jpg");
}
#p06 {
  background-image: url("../images/products/06.jpg");
}
#p07 {
  background-image: url("../images/products/07.jpg");
}
#p08 {
  background-image: url("../images/products/08.jpg");
}
#p09 {
  background-image: url("../images/products/09.jpg");
}
#m01 {
  background-image: url("../images/promotions/lunes.jpg");
}
#m02 {
  background-image: url("../images/promotions/finde.jpg");
}
#m03 {
  background-image: url("../images/promotions/navidad.jpg");
}
#m04 {
  background-image: url("../images/promotions/dorado.jpg");
}
#m05 {
  background-image: url("../images/promotions/vacaciones.jpg");
}
#m06 {
  background-image: url("../images/promotions/lila.jpg");
}
.section2 {
  width: 100%;
  margin: 100px auto 0 auto;
  padding: 1px;
  padding-bottom: 50px;
  background-color: #f8f8f8;
}
.botones {
  width: 90%;
  max-width: 850px;
  /* border: 1px solid blue; */
  margin: 0 auto;
}
#izquierda,
#derecha {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
#derecha {
  float: right;
}
.slider-container {
  max-width: 945px;
  margin: 20px auto;
  /* border: 1px solid blue; */
  overflow-x: hidden;
}
.slider {
  margin: 20px auto;
  /* text-align: center; */
  width: 1885px;
  margin-left: auto;
  /* border: 1px solid red; */
  transition: margin 0.5s;
}
.slide {
  display: inline-block;
}
.slider .product {
  margin: 20px 40px;
}

/* FOOTER */
footer {
  height: 500px;
  text-align: center;
  background-color: #1d1d1b;
  /* background-color: black; */
  padding: 1px;

  align-items: center;
}
.zantobg {
  width: 100%;
  height: 20px;
  margin-top: -21px;
  /* border: 1px solid red; */
  background-image: url("../images/zantologo.png");
  background-size: contain;
}
.center-footer {
  display: flex;
  align-items: center;
  height: 450px;
}
.contact-footer {
  margin: 40px auto;
  color: white;
  font-size: 0.9em;
}
footer #developed {
  display: absolute;
  bottom: 0px;
  color: #0483e3;
  font-weight: 600;
  font-size: 0.8em;
  cursor: default;
}
.contact-footer h3 {
  font-size: 1.15em;
}
.contact-footer p {
  margin: 12px auto;
}
.contact-footer p a {
  color: white;
}

/* COMPONENTES */
.componentes {
  position: relative;
}
.btn-slide {
  border: 1px solid rgb(7, 188, 194);
  border-radius: 25px;
  padding: 5px 15px;
  background-color: transparent;
  color: rgb(7, 188, 194);
  cursor: pointer;
  transition: all 0.5s;
}
.btn-slide:hover {
  background-color: rgb(7, 188, 194);
  color: white;
}
.slideshow,
.slideshow2 {
  display: none;
}

/* INITIAL STYLES */
.fecha,
.hora {
  font-family: "B612 Mono", monospace;
  color: goldenrod;
}

@media only screen and (max-width: 927px){
  .viewport {
    display: block;
    margin: 20px auto;
    text-align: center;
  }
  .viewport img {
    width: 200px;
  }
  .viewport h2 {
    font-size: 1.4em;
    margin-top: 60px;
  }
}