:root {
  --color-dark-primary: #23253a;
  --color-dark-secondary: #829fff;
  --color-dark-label: #ffa2c1;
  --color-dark-green: #0fd598;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--color-dark-primary);
  background-color: black;
  background-color: var(--color-dark-label);
  font-family: "Montserrat", "sans-serif";
}
header {
  width: 96%;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  text-align: center;
  /* border: 1px solid white; */
}
header div img {
  width: 40px;
  margin-top: 10px;
  cursor: pointer;
}
header h1 {
  color: white;
  font-weight: 900;
}
header p {
  margin-top: 5px;
  font-size: 0.85em;
  font-weight: 700;
  cursor: pointer;
}
.text-theme {
  color: var(--color-dark-secondary);
}
.label-theme {
  color: var(--color-dark-label);
}
.main {
  width: 90%;
  margin: 50px auto;
  text-align: center;
}
.main article {
  margin: 70px auto;
}
article p {
  font-weight: 700;
  font-size: 1.2em;
}
.hand-article img {
  width: 120px;
}
.user-article input {
  text-align: center;
  padding-bottom: 3px;
  font-size: 1.8em;
  font-weight: bold;
  border: none;
  border-bottom: 3px solid #b9b7ff;
  color: var(--color-dark-secondary);
  background-color: transparent;
}
.user-article input:focus {
  outline: none;
}
.topic-article span {
  display: inline-block;
  margin: 5px 40px;
}
.topic-article span img {
  height: 50px;
  cursor: pointer;
}
.topic-article span h4 {
  cursor: pointer;
  margin: 5px auto;
}
.family h4 img {
  height: 20px;
}
.join-article {
  margin: 50px auto 0 auto;
}
.join-article button {
  width: 180px;
  height: 40px;
  font-size: 1.6em;
  font-weight: bold;
  border-radius: 30px;
  border: 2px solid var(--color-dark-green);
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: all 0.4s;
}
.join-article button:hover {
  border: none;
  background-color: var(--color-dark-green);
}
footer {
  width: 100%;
  margin: 5px auto;
  text-align: center;
}
footer h3 {
  font-size: 0.9em;
  color: #00dcff;
}
footer a {
  color: #00dcff;
}
